@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    animation: anime 0.2s linear 0s 1 alternate ;
}

/* Custom Scroll Bar */
body::-webkit-scrollbar {
    width: 0.3em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.676);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }

  @keyframes anime{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }